[Unit]
Description=WW.CX Edge1 passive network sensor - Suricata
After=network-online.target
Wants=network-online.target
ConditionPathExists=/etc/default/wwcx-network-sensor

[Service]
Type=simple
EnvironmentFile=/etc/default/wwcx-network-sensor
RuntimeDirectory=wwcx-network-sensor
RuntimeDirectoryMode=0750
ExecStartPre=+/usr/bin/install -d -o root -g root -m 0755 /var/log/wwcx-network-sensor
ExecStartPre=+/usr/bin/install -d -o suricata -g root -m 2770 /var/log/wwcx-network-sensor/suricata
ExecStartPre=+/usr/bin/chown -R suricata:root /var/log/wwcx-network-sensor/suricata
ExecStartPre=+/usr/bin/install -d -o wwsensor -g root -m 2770 /var/log/wwcx-network-sensor/zeek
ExecStart=/usr/bin/suricata --pcap=${SENSOR_INTERFACE} -c ${SURICATA_CONFIG} -l /var/log/wwcx-network-sensor/suricata --pidfile /run/wwcx-network-sensor/suricata.pid --user=suricata --group=suricata --set unix-command.enabled=no --init-errors-fatal
Restart=on-failure
RestartSec=5s
UMask=0007
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/log/wwcx-network-sensor /run/wwcx-network-sensor
CapabilityBoundingSet=CAP_CHOWN CAP_SETGID CAP_SETUID CAP_SETPCAP CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_NICE

[Install]
WantedBy=multi-user.target
