# Carrier Validation Report

Carrier:
Lab SIP Carrier

Generated:
2026-07-20T10:41:47.663670Z


Registry:
PASS

SIP Peer:
PASS

Routing:
PENDING
