[Unit]
Description=Schedule WW.CX BigBird Edge1 connector maintenance

[Timer]
OnBootSec=10min
OnUnitActiveSec=30min
AccuracySec=2min
Persistent=true
Unit=bigbird-edge1-connector-maintenance.service

[Install]
WantedBy=timers.target
