# Edge1 Generated Kamailio Peer Configuration
# Generated 2026-07-20T10:41:47.718216Z

# Peer: edge1-lab-peer
dispatcher.add_peer('127.0.0.1')
# transport=udp

# Peer: lab-carrier-001-peer
dispatcher.add_peer('pending')
# transport=tls

